$default-key: #dadada;
$default-key-hover: #c6a9eb;
$default-key-active: #ad6eff;

$default-key-shadow: #adadad;
$default-key-shadow-active: #9d52ff;

$special-key: #999999;
$special-key-hover: #b47bff;
$special-key-active: #a159ff;

$special-key-shadow: #666666;
$special-key-shadow-active: #923fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 40px 0;

  &::after {
    content: '_';
    position: relative;
    bottom: 6px;
    opacity: 1;
    animation: underscore 0.8s infinite;
  }

  @keyframes underscore {
    0% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.keyboard-container {
  display: flex;
  gap: 10px;
  margin: 30px auto;
  flex-direction: column;
  min-width: 500px;
  max-width: 885px;
}

.keys-row {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
  list-style: none;
}

.textarea {
  resize: none;
  font-size: 15px;
  line-height: 16px;
  padding: 10px;
  margin: 0 auto;
  min-width: 885px;
  font-family: 'Poppins', sans-serif;
  border: 2px solid #dadada;
  outline: 0px;
  border-radius: 10px;
  transition: border .2s ease-in;

  &:focus {
    border: 2px solid $special-key-hover;
  }
}

.tip {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  text-align: center;
}

.key {
  font-family: 'Poppins', sans-serif;
  position: relative;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  user-select: none;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 20px;
  max-width: 52px;
  min-width: 52px;
  background: $default-key;
  box-shadow: 0px 4px $default-key-shadow;
  transition-property: background;
  transition-duration: .1s;
  transition-timing-function: ease-out;

  &.animation {
    animation: key_down .3s forwards;
  }

  &:hover {
    background-color: $default-key-hover;
    top: 1px;
    box-shadow: 0px 3px $default-key-shadow-active;
  }

  &.active {
    color: #fff;
    top: 3px;
    background-color: $default-key-active;
    box-shadow: 0px 1px $default-key-shadow-active;

    &:hover {
      background-color: $default-key-active;
      top: 3px;
      box-shadow: 0px 1px $default-key-shadow-active;
    }
  }

  &_special {
    background-color: $special-key;
    color: #000;
    font-weight: bold;
    max-width: none;
    box-shadow: 0px 3px $special-key-shadow;

    &.animation {
      animation: key_down_special .3s ease-out;
    }

    &:hover {
      background-color: $special-key-hover;
      box-shadow: 0px 3px $special-key-shadow-active;
    }

    &.active {
      top: 3px;
      background-color: $special-key-active;
      box-shadow: 0px 1px $special-key-shadow-active;

      &:hover {
        background-color: $special-key-active;
        top: 3px;
        box-shadow: 0px 1px $special-key-shadow-active;
      }
    }
  }

  &_space {
    max-width: none;
    flex-grow: 1000;
  }

  &_fixed {
    flex-grow: 1;
    max-width: 52px;
  }

}

.alt-key {
  position: absolute;
  top: 2px;
  left: 10px;
  font-size: 12px;
}

@keyframes key_down {
  0% {
    color: #fff;
    background-color: $default-key-active;
    top: 3px;
    box-shadow: 0px 1px $default-key-shadow-active;
  }

  100% {
    color: #000;
    background-color: $default-key;
    top: 0;
    box-shadow: 0px 4px $default-key-shadow;
  }
}

@keyframes key_down_special {
  0% {
    color: #fff;
    background-color: $special-key-active;
    top: 3px;
    box-shadow: 0px 1px $default-key-shadow-active;
  }

  100% {
    color: #000;
    background-color: $special-key;
    top: 0;
    box-shadow: 0px 4px $default-key-shadow;
  }
}